input:valid{
    background: green;
}

input:invalid{
    background: red;
}

input:checked + span{
    background: pink;
}

input:disabled{
    background: yellow;
}

q:lang(ru) {
    quotes: "\201E" "\201C";

}

q:lang(ru) {
    quotes: "\00AB" "\00BB";
}
